<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% seo %} {% if page.doi %}
    <meta name="citation_title" content="{{ page.title }}">
    <meta name="citation_author" content="{{ page.author | default: site.author.name }}">
    <meta name="citation_publication_date" content="{{ page.date | date: "%Y/%m/%d" }}">
    <meta name="citation_doi" content="{{ page.doi }}">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ScholarlyArticle",
      "headline": {{ page.title | jsonify }},
      "datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
      "author": {"@type": "Person", "name": {{ (page.author | default: site.author.name) | jsonify }}},
      "identifier": {"@type": "PropertyValue", "propertyID": "doi", "value": "{{ page.doi }}"}
    }
    </script>
  {% endif %}

  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

  {% if page.url == "/" %}
    {% include person-schema.html %}
  {% endif %}

  {% unless page.noindex %}
    <meta name="robots" content="index, follow">
  {% else %}
    <meta name="robots" content="noindex, nofollow">
  {% endunless %}
</head>