<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Lewis Dryburgh",
  "url": "https://lewisdryburgh.com",
  "jobTitle": "Data Governance Manager",
  "worksFor": {
    "@type": "GovernmentOrganization",
    "name": "NSW Government",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Sydney",
      "addressRegion": "NSW",
      "addressCountry": "AU"
    }
  },
  "description": "Lewis Dryburgh is a Sydney-based developer and Public Sector Data Practioner, specializing in human-centred technology and public sector data.",
  "knowsAbout": [
    "Data Governance",
    "Web Development",
    "Svelte",
    "Information Management",
    "Public Sector Technology"
  ],
  "sameAs": [
    "https://www.linkedin.com/in/lewis-dryburgh",
    "https://github.com/lewdry",
    "https://medium.com/@lewdry"
  ]
}
</script>